.team-matches-container {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.banner {
  width: 100%;
  margin: 40px 10px;
}
.recent-matches-lists {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.rcb {
  background-color: #a4261d;
}
.kkr {
  background-color: #5755a7;
}
.kxp {
  background-color: #da237b;
}
.csk {
  background-color: #f7db00;
}
.rr {
  background-image: linear-gradient(to bottom, #13418b, #da237b);
}
.mi {
  background-color: #13418b;
}
.sh {
  background-color: #a4261d;
}
.dc {
  background-color: #4f5db0;
}
